<div class="about">
	<h1>This is an about page owo</h1>
	<h2>what be themeathon tho</h2>
	<div>
		Themeathon is a speedrunning marathon for charity founded by Lordmau5 and
		Jugachi in 2016.
	</div>
	<h2>save the children</h2>
	<div>
		Save the Children believes every child deserves a future. In the U.S. and
		around the world, we give children a healthy start in life, the opportunity
		to learn and protection from harm. We do whatever it takes for children –
		every day and in times of crisis – transforming their lives and the future
		we share.
	</div>
	https://www.savethechildren.org/us/about-us/financial-information
</div>
